singularity {
    enabled = true
    autoMounts = true
}

process {
    withName: 'kraken2' {
        container = 'docker://staphb/kraken2:latest'
        memory = '180.GB'  
        cpus = 16         
    }
    withName: 'bracken' {
        container = 'docker://staphb/bracken:latest'
        memory = '32.GB'
        cpus = 4
    }
}